* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  background: url(pattern.png);
} */

.main {
  background: #ccc;
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
}

.badge {
  width: 96px;
  background: #e66357;
  color: white;
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  top: -15px;
  left: 40%;
}

.clock {
  background-color: #ebebeb;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 25px;
  font-family: orbitron;
  border-radius: 4px;
}

/*Health*/

.healthContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.playerOneWrapper,
.playerTwoWrapper {
  border: 10px solid blue;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

#addHealth {
  width: 50px;
  height: 35px;
}

#subHealth {
  width: 50px;
  height: 35px;
}

#healthCounterP1 {
  font-size: xx-large;
}
#healthCounterP2 {
  font-size: xx-large;
}

button {
  height: 50px;
  width: 50px;
}

/* Dice container */

.diceContainer {
  display: flex;
  font-size: 3rem;
  border: 10px solid blue;
  padding: 40px 5px 40px 5px;
}

.diceOne {
  margin: 15px;
}
.diceTwo {
  margin: 15px;
}

#roll {
  margin: 15px;
}
